"Plug 'kien/tabman.vim'

"Plug 'chikamichi/mediawiki.vim'

function PluginsConfigLocal()
    " Reduce load on memory by updating one plugin at a time
    "let g:plug_threads = 1

    " Some terminals, like konsole, cause weired symbols (e.g., q) printed due to
    " broken cursor-shape termcodes.
    "if has('nvim')
        "set guicursor=
        " Workaround some broken plugins which set guicursor indiscriminately.
        "au OptionSet guicursor noautocmd set guicursor=
    "end
endfunction

" vim:ft=vim
